<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>

<div th:each="user : ${users}">
    <a th:href="@{/{id}(id=${user.getId()})}" th:text="${user}"></a>
    <form th:method="GET" th:action="@{/{id}/edit(id=${user.getId()})}">
        <input type="submit" value="Изменить">
    </form>
    <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
        <input type="submit" value="Удалить">
    </form>
    <br>
</div>
<hr/>
<form action="/new">
    <button>Добавить нового пользователя</button>
</form>

</body>
</html>